body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    background: linear-gradient(180deg, #2d48ef, #a7b3ff);
}

#readout {
    text-align: center;
    margin-top: 30vh;
}

    #readout > #readout-top {
        font-size: 1.4rem;
    }

    #readout > #readout-time-left {
        font-size: 3rem;
        margin-top: 1.5rem;
    }

    #readout > #readout-bottom {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

#progress {
    text-align: center;
    margin-top: 4rem;
}

    #progress > #progress-bar-label {
        font-size: 1rem;
        margin-bottom: .2rem;
    }

    #progress > #progress-bar {
        width: 60vw;
        max-width: 30rem;
        height: .9rem;
        /*disable default appearance*/
        -webkit-appearance: none; 
        appearance: none;
    }

    #progress > #progress-bar-percent {
        font-size: .7rem;
        /*hack to position over progress bar*/
        transform: translateY(-.85rem);
    }

    /* https://css-tricks.com/html5-progress-element/ */
    #progress > #progress-bar::-webkit-progress-bar{
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    }

    #progress > #progress-bar::-webkit-progress-value{
        background-image:
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.452), rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, rgb(247, 192, 155), rgb(255, 139, 44));

        border-radius: 2px; 
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

#footer {
    text-align: right;
    position: fixed;
    right: .3rem;
    bottom: .2rem;
    font-size: .9rem;
}